
.DS_Store

.scratch.txt
scratch/

media/

Jellyfin-Title-Speaker
YouTube-Title-Speaker

LocalWebAudioPlayer.code-workspace
*.user

prototypes/tauri/src-tauri/gen/
prototypes/tauri/src-tauri/target/

prototypes/qt/build/
prototypes/qt/build-test/
